:root {
    --montserrat-font: 'Montserrat', sans-serif;
    --avenger-font: 'Avengeance Mightiest Avenger';
}


/* Header */

.header-container {
    width: 100%;
    height: 1080px;
    background-image: url("../img/header-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 40px;
}
.header-content {
    max-width: 1880px;
    margin-left: 20px;
    padding: 0 5px 0 100px;
}
.nav-content {
    display: flex;
}
.logo-block {
    width: 17%;
    display: flex;
    justify-content: flex-start;
}
.logo-img {
    max-width: 212.05px;
    width: 100%;
}
.middle-block {
    width: 48%;
}
.burger-bar {
    color: #fff;
    font-size: 40px;
    display: none;
}
.navigation-block {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}
.navigation {
    max-width: 600px;
    width: 100%;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
}
.nav-link {
    font-family: var(--montserrat-font);
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.title-content {
    max-width: 600px;
    margin-top: 117.8px;
}
.main-heading {
    font-family: var(--avenger-font);
    font-size: 96px;
    font-weight: 400;
    color: #fff;
    line-height: 82px;
}
.heading-block {
    margin: 118px 0 62px 0;
}
.heading {
    font-family: var(--montserrat-font);
    font-size: 30px;
    color: #fff;
    max-width: 375px;
    width: 100%;
    font-weight: bold;
    line-height: 40px;
}
.order-btn-block {
    max-width: 255px;
    height: 68px;
    width: 100%;
    background-color: #FFAA00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    cursor: pointer;
    transition: all 0.15s linear;
}
.order-btn-block:hover {
    background-color: #ca8701;
}
.order-btn-text {
    font-family: var(--avenger-font);
    font-size: 27px;
    font-weight: 400;
    color: #A80E0E;
}
.order-btn-text::after {
    content: '\2192';
    margin-left: 14px;
}

/* End of Header */



/* First section */

.first-section {
    max-width: 1375px;
    width: 100%;
    margin: 0 auto;
    margin-top: 140px;
    text-align: center;
    padding: 0 15px;
}
.first-sec-title {
    font-family: var(--avenger-font);
    font-size: 50px;
    font-weight: 400;
    color: #A80E0E;
}
.first-sec-subtitle {
    font-family: var(--montserrat-font);
    font-size: 20px;
    font-weight: 300;
    color: #382E36;
    margin: 42px 0 72px 0;
}
.food-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 168px;
}
.food-block {
    width: 248px;
    height: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.food-img {
    width: 100.06px;
    height: 91.92px;
}
.food-block-text {
    margin-top: 20px;
    font-family: var(--montserrat-font);
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}
.food-block:nth-child(3) {
    border-radius: 5px;
    box-shadow: 0px 15px 15px rgba(112, 112, 112, 0.2);
}

/* End of first section */



/* Second section */

.second-section {
    background-color: #FFAA00;
}
.second-section-block {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.delivery-man-img-block {
    max-width: 800px;
}
.delivery-man-img {
    width: 100%;
}
.delivery-title-block {
    max-width: 436px;
    width: 100%;
    margin-bottom: 63.5px;
}
.delivery-title {
    font-family: var(--avenger-font);
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    line-height: 60px;
}
.delivery-subtitle-block {
    max-width: 450px;
    width: 100%;
}
.delivery-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

/* End of second section */


/* Third section */

.food-menu-container {
    max-width: 1447px;
    width: 100%;
    margin: 0 auto;
    padding: 126px 15px 0 15px;
}
.menu-title-block {
    text-align: center;
}
.menu-title {
    font-family: var(--avenger-font);
    font-size: 40px;
    font-weight: 400;
    color: #A80E0E;
    margin-bottom: 62px;
}
.menu-subtitle {
    font-family: var(--montserrat-font);
    font-size: 20px;
    font-weight: 300;
    color: #382E36;
    margin-bottom: 118px;
}
.food-menu-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 56px;
}
.dish-img {
    width: 100%;
}
.dish-descritpion {
    padding: 73.5px 0 33px 36px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 15px 15px rgba(112, 112, 112, 0.1);
}
.dish-description-title {
    font-family: var(--montserrat-font);
    font-size: 22px;
    font-weight: 400;
    color: #000;
}
.dish-description-subtitle {
    font-family: var(--montserrat-font);
    font-size: 16px;
    font-weight: 200;
    color: #686868;
    margin: 12px 0 30px;
}
.button-price-block {
    display: flex;
    align-items: center;
}
.add-btn {
    width: 164px;
    height: 40px;
    background-color: #FFAA00;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s linear;
}
.add-btn:hover {
    background-color: #d99100;
}
.add-btn-text {
    font-family: var(--montserrat-font);
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}
.dish-price {
    margin-left: 12px;
    font-family: var(--avenger-font);
    font-size: 22px;
    font-weight: 400;
    color: #A80E0E;
}
.show-menu-btn {
    width: 255px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A80E0E;
    border-radius: 90px;
    margin: 106px auto 161px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.show-menu-btn:hover {
    background-color: #870707;
}
.show-menu-btn-text {
    font-family: var(--avenger-font);
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

/* End of third section */


/* Footer */

.footer {
    background-color: #FFAA00;
    padding: 187px 0 151px;
}
.footer-container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    height: 316px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 15px 15px rgba(112, 112, 112, 0.2);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.footer-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 15px 15px rgba(112, 112, 112, 0.4);
}
.footer-icon-1 {
    margin: 36.5px 0 16.7px;
}
.footer-icon-2 {
    margin: 37px 0 19.8px;
}
.footer-icon-3 {
    margin: 40px 0 23px;
}
.footer-icon-4 {
    margin: 36px 0 18.1px;
}
.footer-card-description {
    text-align: center;
}
.card-descritpion-title {
    font-family: var(--montserrat-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    color: #000;
    display: inline-block;
}
.card1-title {
    max-width: 178px;
    width: 100%;
    margin-bottom: 36px;
}
.card2-title {
    max-width: 118px;
    width: 100%;
    margin-bottom: 36px;
}
.card3-title {
    max-width: 126px;
    width: 100%;
    margin-bottom: 36px;
}
.card4-title {
    max-width: 98px;
    width: 100%;
    margin-bottom: 36px;
}
.card-descritpion-title::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #FFAA00;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -18.5px;
    transform: translateX(-50%);
}
.card-descritpion-subtitle {
    font-family: var(--montserrat-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #686868;
}
.card1-subtitle {
    max-width: 218px;
    width: 100%;
    margin-bottom: 51px;
}
.card2-subtitle {
    max-width: 218px;
    width: 100%;
    margin-bottom: 51px;
}
.card3-subtitle {
    max-width: 218px;
    width: 100%;
    margin-bottom: 28px;
}
.card4-subtitle {
    max-width: 259px;
    width: 100%;
    margin-bottom: 27px;
}

/* End of footer */